// Esquema de colores

// Primer esquema de color
$white: #fff;
$snow: #fafafa;
$quicksilver: #a0a0a0;

// Segundo esquema de color
$jellybean: #e56353;
$salmon: #ef7f72;
$pastelpink: #F0A9A1;

// Tercer esquema de color
$granitegray: #868963;
$taupegray: #91918d;
$gray: #babab8;


// Tipografia
$playfair: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;
$raleway-font: 'Raleway', sans-serif;

// Peso de fuentes
$extra-ligth-font: 200;
$regular-font: 400;
$bold-font: 700; 

// Tamaños de fuente
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 30px;

//Paddings
$xx-padding: 12.5rem;
$x-padding: 4.375rem;
$large-padding: 3.125rem;
$medium-padding: 1.25rem;