.padding-xx-top {
    padding-top: $xx-padding;
}

.padding-xx-bottom {
    padding-bottom: $xx-padding;
}

.padding-xx-left {
    padding-left: $xx-padding;
}

.padding-xx-right {
    padding-right: $xx-padding;
}

.padding-x-top {
    padding-top: $x-padding;
}

.padding-x-bottom {
    padding-bottom: $x-padding;
}

.padding-x-left {
    padding-left: $x-padding;
}

.padding-x-right {
    padding-right: $x-padding;
}

.padding-large-top {
    padding-top: $large-padding;
}

.padding-large-bottom {
    padding-bottom: $large-padding;
}

.padding-large-left {
    padding-left: $large-padding;
}

.padding-large-right {
    padding-right: $large-padding;
}

.padding-medium-top {
    padding-top: $medium-padding;
}

.padding-medium-bottom {
    padding-bottom: $medium-padding;
}

.padding-medium-left {
    padding-left: $medium-padding;
}

.padding-medium-right {
    padding-right: $medium-padding;
}

.padding-xx {
    padding: $xx-padding;
}

.padding-x {
    padding: $x-padding;
}

.padding-large-padding {
    padding: $large-padding;
}

.padding-medium {
    padding: $medium-padding;
}